$red:             #f44336;
$orange:          #FFA500;
$yellow:          #ffeb3b;
$green:           #8bc34a;
$blue:            #1E87F0;
$indigo:          #3f51b5;
$purple:          #9c27b0;
$black:           #222222;
$white:           #F5F5F5;
$diamond:         #C0F5FA;
$silver:          #BDC2BF;
$platinum:        #E7E5DF;
$copper:          #AF7A6D;
$turquoise:       #34E5FF;
$mint:            #A0ECD0;
$seaFoam:         #94DDBC;
$raspberryRose:   #B74F6F;
$mediumPurple:    #8A84E2;
$snow:            #FFFBFC;
$electricBlue:    #8EF9F3;
$ruby:            #D81159;
$darkRaspberry:   #8F2D56;
$yellowOrange:    #FBB13C;
$peach:           #FDE2B8;
$flame:           #E4572E;
$palmLeaf:        #76B041;
$bone:            #E2D4BA;
$nyanza:          #EAF9D9;
$operaMauve:      #B279A7;
$plum:            #E899DC;
$veryPaleOrange:  #FCDEBE;
$darkBlue:        #26547C;
$infraRed:        #EF476F;
$orangeYellow:    #FFD166;
$caribbeanGreen:  #06D6A0;
$babyPower:       #FCFCFC;
$darkGunmetal:    #16262E;
$tealBlue:        #3C7A89;
$ruddyPink:       #ED9390;
$cyclamen:        #F374AE;
$pictonBlue:      #48ACF0;
$auqamarine:      #61D095;
$thistle:         #E0BAD7;
$oceanGreen:      #48BF84;
$oxfordBlue:      #001F54;
$darkCerulean:    #034078;
$khaki:           #B8B08D;
$buff:            #F2D492;
$bigFootFeet:     #F29559;
$vividAuburn:     #8C271E;
$lightCyan:       #D9F7FA;
$tuscany:         #C49991;
$brillantAzure:   #279AF1;
$blackCoral:      #60656f;
$desertSand:      #ECC8AF;
$pastelPink:      #E7AD99;
$fuzzyWuzzy:      #CE796B;
$deer:            #C18C5D;
$independence:    #495867;
$paleTurquoise:   #BCF8EC;
$deepRuby:        #7B435B;
$burntUmber:      #7C3626;
$mangoTango:      #F5853F;
$apricot:         #FFCDBC;
$purpleNavy:      #564D80;
$aeroBlue:        #D3FCD5;
$inchworm:        #C2F970;
$lightCoral:      #F67E7D;
$lightTaupe:      #AF9164;
$deepTaupe:       #74546A;
$verdigris:       #5ABCB9;
$silverSand:      #C2C1C2;
$oldBurgundy:     #42213D;
$halayaUbe:       #683257;
$smitten:         #BD4089;
$persianRose:     #F51AA4;
$linen:           #F7F3E3;
$pearlAuqa:       #7FD1B9;
$jellyBean:       #DE6E4B;
$dustStorm:       #E5D4CE;
