html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
  background: #f2f2f2;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
