// Font Variables
$base-font-size: 16px;

// Screen Sizes
$screen-phone: 320px;
$screen-phablet: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;
$screen-desktop: 1440px;


// colors
$blue:       #1e87f0;
$black:      #222222;
$green:      #32d296;
$yellow:     #faa05a;
$red:        #f0506e;
$white:      #f5f5f5;
