// Font Variables
$base-font-size: 16px;

// Screen Sizes
$screen-phone: 320px;
$screen-phablet: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;
$screen-desktop: 1440px;


// colors
// VIEW ALL COLORS IN __COLORS.SCSS
$red:             $red;
$orange:          $orange;
$yellow:          $yellow;
$green:           $green;
$blue:            $blue;
$indigo:          $indigo;
$purple:          $purple;
$black:           $black;
$white:           $white;
