

@each $item in $colors {
  $class: nth($item, 1);
  $bg: nth($item, 2);
  $color: nth($item, 3);
  .#{$class} {
    background: $bg;
    border-color: darken($bg, 10%);
    color: $color;
  }
  .background--#{$class} {
    background: $bg;
    color: $color;
  }
}
