$colors:   'red'        $red,
           'green'      $green,
           'blue'       $blue,
           'white'      $white,
           'black'      $black,
           'yellow'     $yellow;

@each $color in $colors {
  $class: nth($color, 1);
  $value: nth($color, 2);
  .background--#{$class} {
    background: $value;
  }
}
