.columns{
  display: flex;
  flex-wrap: wrap;
  margin: ($settings-column-gap * -1) ($settings-column-gap * -1) auto;
  &.no-gap {
    .column {
      padding: 0;
    }
  }
}

.column {
  flex: 1 1 0;
  padding: $settings-column-gap;
}

@for $i from 0 through $settings-column-count {
  .width-#{$i} {flex: none; width: percentage($i / $settings-column-count);}
  .offset-#{$i} {margin-left: percentage($i / $settings-column-count);}
}


@mixin column--phone() {
  @for $i from 0 through $settings-column-count {
    .width-phone-#{$i} {flex: none; width: percentage($i / $settings-column-count);}
    .offset-phone-#{$i} {margin-left: percentage($i / $settings-column-count);}
  }
}

@mixin column--phablet() {
  @for $i from 0 through $settings-column-count {
    .width-phablet-#{$i} {flex: none; width: percentage($i / $settings-column-count);}
    .offset-phablet-#{$i} {margin-left: percentage($i / $settings-column-count);}
  }
}

@mixin column--tablet() {
  @for $i from 0 through $settings-column-count {
    .width-tablet-#{$i} {flex: none; width: percentage($i / $settings-column-count);}
    .offset-tablet-#{$i} {margin-left: percentage($i / $settings-column-count);}
  }
}

@mixin column--laptop() {
  @for $i from 0 through $settings-column-count {
    .width-laptop-#{$i} {flex: none; width: percentage($i / $settings-column-count);}
    .offset-laptop-#{$i} {margin-left: percentage($i / $settings-column-count);}
  }
}

@mixin column--desktop() {
  @for $i from 0 through $settings-column-count {
    .width-desktop-#{$i} {flex: none; width: percentage($i / $settings-column-count);}
    .offset-desktop-#{$i} {margin-left: percentage($i / $settings-column-count);}
  }
}
