.grid, .row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  .column {
    flex-grow: 2;
    padding: 1rem;
  }
}


$num: 12;
@for $i from 0 through $num {
  .width-#{$i} {flex: percentage($i / $num) 0;}
  .offset-#{$i} {margin-left: percentage($i / $num);}
}


@mixin column--phone() {
  @for $i from 0 through $num {
    .width-phone-#{$i} {flex: percentage($i / $num) 0;}
    .offset-phone-#{$i} {margin-left: percentage($i / $num);}
  }
}

@mixin column--phablet() {
  @for $i from 0 through $num {
    .width-phablet-#{$i} {flex: percentage($i / $num) 0;}
    .offset-phablet-#{$i} {margin-left: percentage($i / $num);}
  }
}

@mixin column--tablet() {
  @for $i from 0 through $num {
    .width-tablet-#{$i} {flex: percentage($i / $num) 0;}
    .offset-tablet-#{$i} {margin-left: percentage($i / $num);}
  }
}

@mixin column--laptop() {
  @for $i from 0 through $num {
    .width-laptop-#{$i} {flex: percentage($i / $num) 0;}
    .offset-laptop-#{$i} {margin-left: percentage($i / $num);}
  }
}

@mixin column--desktop() {
  @for $i from 0 through $num {
    .width-desktop-#{$i} {flex: percentage($i / $num) 0;}
    .offset-desktop-#{$i} {margin-left: percentage($i / $num);}
  }
}
