@for $i from 1 through 6 {
  .h#{$i}, h#{$i} {
    font-size: #{floor(((6 - $i + 1) / 6 + 1) * 10) / 10}em;
    margin: #{floor(($i / 6 + 1) * 10) / 10}em 0;
  }
}


p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

p {
  height: auto;
  line-height: 1.45;
}

.title {font-size: 4em; margin: 0.25em 0;}

.content {
  box-sizing: content-box;
}
.double-spaced, .double-spaced * {
    line-height: 2.5rem;
}
.text--medium {
  font-size: 1.2rem;
}
